name: Markdown

on:
  push:
    branches: [master, dev]
  pull_request:
    types: [review_requested, ready_for_review]

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Skip if unchanged
        id: changed-files-specific
        uses: tj-actions/changed-files@v20
        with:
          files: |
            *.md
            *.markdown

      - name: Link Markdown
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        if: steps.changed-files-specific.outputs.only_changed == 'true'
